
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;300&display=swap');

*{
    font-family: 'IBM Plex Sans';
}

body{
    margin: 0;
    
}

header {
    margin-top: 10px;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    justify-content: center;
    /* font-weight: bold;   */
    gap: 20px;
    padding-bottom: 15px;
    background-color: white;
    box-shadow: 0px 4px 4px rgb(167, 153, 153);
}

footer {
    background-color: #0166b3;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
}

#footerText {
    font-size: 17px;
    padding-left: 50px;
    color: white;
}

#logos {
    position: absolute;
    right: 2.5%;
    /* bottom: 50%; */
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logoMain {
    width: 66px;
    height: 66px;
    align-self: center;
}

#headerText {
    font-size: 30px;
}

.container {
    /* margin-top: 125px; */
    background-color: #F9F9F9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 4px 4px rgb(167, 153, 153);
    padding: 50px;
    width: 700px;
    height: 350px;
}

.title {
    font-size: 25px;
    margin-bottom: 30px;
    font-weight: bold;
}

.buttonsDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    position: absolute;
    right: 5%;
}

.input {
    align-items: center;
    align-self: center;
    background-color: #F9F9F9;
    color: black;
    border: 0;
    border-radius: 10px;
    padding: 2px;
    padding-left: 20px;
    width: 275px;
    height: 50px;
    box-shadow: 0 4px 4px grey;
    font-size: 16px;
}

.button {
    margin-top: 5px;
    align-items: center;
    align-self: center;
    background-color: #0047B5;
    border: 0;
    border-radius: 7.5px;
    padding: 2px;
    width: 300px;
    box-shadow: 0px 4px 4px grey;
    cursor: pointer;
}

.buttonText {
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.logoDiv {
    position: absolute;
    left: 50px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.senaiLogo {
    width: 300px;
    height: 41.3px;
    align-self: center;
}

.logoImg {
    width: 50px;
    height: 50px;
}

.grow {
    transition: all 0.5s;
}

.grow:hover{
    transform: scale(1.2);
}

#logoSenai {
    position: absolute;
    width: 300px;
    left: 50px;
}

.textTitle {
    color: navy;
    font-size: 30px;
}

.textTitle span {
    font-weight: bold;
}

.agendas {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    gap: 10px;
}