
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;300&display=swap');

*{
    font-family: 'IBM Plex Sans';
}

body{
    margin: 0;
    
}

/* header */

header {
    margin-top: 10px;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    justify-content: center;
    /* font-weight: bold;   */
    gap: 20px;
    padding-bottom: 15px;
    background-color: white;
    box-shadow: 0px 4px 4px rgb(167, 153, 153);
}

#logoMain {
    width: 66px;
    height: 66px;
    align-self: center;
}

#headerText {
    font-size: 30px;
}

.logoDiv {
    position: absolute;
    left: 2.5%;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.senaiLogo {
    width: 300px;
    height: 41.3px;
    align-self: center;
}

.logoImg {
    width: 50px;
    height: 50px;
}

.grow {
    transition: all 0.5s;
}

.grow:hover{
    transform: scale(1.2);
}

.textTitle {
    color: navy;
    font-size: 30px;
}

.textTitle span {
    font-weight: bold;
}

.agendas {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    gap: 10px;
}

.icon {
    align-self: center;
}

#profile {
    width: 50px;
}

.logout {
    transition: all 0.5s;
    align-self: center;
}

.logout:hover {
    transform: scale(1.1);
}

/* footer */

footer {
    background-color: #0166b3;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
}

#footerText {
    font-size: 17px;
    color: white;
    position: absolute;
    left: 2.5%;
    bottom: 0%;
}

#logos {
    position: absolute;
    right: 2.5%;
    /* bottom: 50%; */
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* body */

.container {
    /* margin-top: 125px; */
    background-color: #F9F9F9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 4px 4px rgb(167, 153, 153);
    padding: 30px;
    width: 700px;
    /* height: 350px; */
    height: 250px;
    z-index: -1;
}

.home {
    margin-top: 3%;
    flex-direction: column;
    gap: 50px;
}

.title {
    font-size: 25px;
    margin-bottom: 30px;
    font-weight: bold;
}

.buttonsDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    position: absolute;
    right: 5%;
}

.input {
    align-items: center;
    align-self: center;
    background-color: #F9F9F9;
    color: black;
    border: 0;
    border-radius: 10px;
    padding: 2px;
    padding-left: 20px;
    width: 275px;
    height: 50px;
    box-shadow: 0 4px 4px grey;
    font-size: 16px;
}

.buttonBlue {
    margin-top: 5px;
    align-items: center;
    align-self: center;
    background-color: #0047B5;
    border: 0;
    border-radius: 7.5px;
    padding: 2px;
    width: 300px;
    box-shadow: 0px 4px 4px grey;
    cursor: pointer;
}

.buttonText {
    color: white;
    font-size: 16px;
    font-weight: bold;
}

#logoSenai {
    position: absolute;
    width: 300px;
    left: 50px;
}

.user {
    position: absolute;
    right: 2.5%;
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.userText {
    font-weight: bold;
    font-size: 17px;
}

.nameAndLogout {
    display: flex;
    flex-direction: column;
}

.line {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

.lineTwo {
    margin-left: 20px;
    margin-top: -25px;
}

.buttonAndSearch {
    position: absolute;
    left: 50%;
    top: 28%;
    transform: translate(-50%, -50%);
    padding: 30px 0;
}

.searchBar {
    /* margin-top: 125px; */
    background-color: #F9F9F9;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgb(167, 153, 153);
    margin-top: 20px;
    /* padding: 33px 100px; */
    padding: 20px;
    width: 500px;
    /* width: 100%; */
    height: 40px;

}

#add {
    position: absolute;
    left: 3%;
    cursor: pointer;
}

#search {
    position: absolute;
    right: 6%;
}

.searchInput {
    border: 0;
    background-color: rgb(238, 238, 238);
    border-radius: 5px;
    padding-left: 15px;
    height: 33px;
    width: 600px;
    margin-left: 9%;
}

.person {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.name {
    position: absolute;
    left: 15%;
    display: flex;
    align-items: center;
}

.persButtons {
    position: absolute;
    right: 5%;
    width: 333px;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.buttonPers {
    text-align: center;
    width: 200px;
    /* padding: 3px 30px; */ 
    padding: 7px 5px;
    align-items: center;
    border-radius: 5px;
    border: 0px;
    box-shadow: 0px 2px 2px grey;
    cursor: pointer;
    color: white;
    font-weight: bold;
}

.red {
    background-color: red;
    transition: all 0.3s;
}

.red:hover {
    background-color: rgb(255, 67, 67);
}

.green {
    background-color: green;
    transition: all 0.3s;
}

.green:hover {
    background-color: rgb(0, 146, 0);
}

.grey {
    background-color: grey;
    transition: all 0.3s;
}

.grey:hover {
    background-color: rgb(146, 146, 146);
}

/* Dropdown */

.dropdownButton {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dropbtn {
    background-color: #5A6268;
    color: white;
    padding: 12px 18px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #4b4f53;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .show {display:block;}

  #arrow {
    align-self: center;
  }